// <weight>: 300
// <uniquifier>: googlefonts

.red-hat-display-<googlefonts> {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}
img {
  border-radius: 8px;
}

body {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcc7f2;
    color: #131847;
}
nav {
  position: relative;
  text-align: center;
}

nav ul {
  padding: 0;
  font-size: 0;
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #ace;
}
nav li {
  display: inline-block;
}
nav a {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  background: #c084f5;
  text-decoration: none;
  color: #43375c;
  padding: 13px 25px 13px 10px;
}
nav a:after,
nav a:before {
  position: absolute;
  content: "";
  height: 0;
  width: 1px;
  top: 50%;
  left: -25px;
  margin-top: -24px;
  border: 24px solid #9947e6;
  border-right: 0 !important;
  border-left-color: transparent !important;
}
nav a:before {
  left: -26px;
  border: 24px solid #43375c;
}
/* ACTIVE STYLES */
nav a.active {
  background: #ada4f5;
}
nav a.active:after {
  border-color: #ada4f5;
}
/* HOVER STYLES */
nav a:hover {
  background: #e6ccff;
}
nav a:hover:after {
  border-color: #d9b6fa;
}


header {
    background-color: #D8BCF5;
    color: black;
    text-align: center;
    padding: 2rem;
}
				h2 {
  text-shadow: 2px 2px 5px blue;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #D8BCF5;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #CB9EF7;
}
